<a href="https://colab.research.google.com/github/TheBiotechGuy/monster_data_science_assignment/blob/master/Assignment_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing required libraries
import json
import re
import pandas as pd
import math
from bson.json_util import dumps
from bson import json_util, ObjectId
from collections import Counter

In [0]:
def read_json(file_path):
  """
  This function reads the json file using json and bson packages
  
  Parameters
  ----------
  file_path: Path of input json file
  
  Returns
  -------
  data: Iterable object over all the json data
  
  """
  with open(file_path, encoding='utf-8', errors='ignore') as data_file:
    data = json.loads(json_util.dumps(data_file))
  return data

In [0]:
data = read_json('searchjson.json')

In [0]:

def get_all_key_combinations_all_rows(data):
  
  """
  After reading the json file using read_json function, you might want to look at what all keys each entry has.
  
  Are these keys same or different in all the rows ?
  
  This function will return all unique key combinations across all entries in json file
  
  Parameters
  ----------
  
  data: Iterable object after reading the json file
  
  Returns
  -------
  List of all the the unique key combinations across all entries in json file
  
  """
  updated_data = []
  first_entry_data_keys = set(eval(data[0]).keys())
  difference_keys = []
  Kinds_of_rows = []
  for entry in data:
    try:
      entry = eval(entry)
      entry_keys = set(entry.keys())
      updated_data.append(entry)
      if len(entry_keys.difference(first_entry_data_keys)):
        Kinds_of_rows.append(entry)
        difference_keys.append(entry_keys.difference(first_entry_data_keys))
    except:
      continue
  return Kinds_of_rows, difference_keys, updated_data

In [0]:
def possbible_columns_in_df(data):
  """
  This function returns all possible columns to add in the dataframe. These column values are retrived by combining all the keys present in the json file.
  """
  Kinds_of_rows, difference_keys, updated_data = get_all_key_combinations_all_rows(data)
  extra_keys_in_some_entries = set().union(*difference_keys)
  common_columns_amongst_all_rows = eval(data[0]).keys()
  all_possible_columns = list(set(common_columns_amongst_all_rows).union(extra_keys_in_some_entries))
  return all_possible_columns, updated_data


all_possible_columns, updated_data = possbible_columns_in_df(data)

In [0]:
data_df = pd.DataFrame(columns = all_possible_columns)

In [0]:
def append_rows_to_df(data_df, data):
  
  """
  This function will append all the json entries as rows in the dataframe
  
  Parameters
  ----------
  data_df: Df to append the rows
  
  data: A list of dictionaries which are to be appended as rows
  
  Returns:
  data_df: Updated datafarme with rows appended
  
  """
  data_df = data_df.append(data, ignore_index=True)
  return data_df

In [0]:
updated_df = append_rows_to_df(data_df, updated_data)

In [9]:
updated_df.head()

  channel sort                       _id  ... rows              logtime highlight
0       1  upt  5cd471b51ce48c8d454bb62c  ...  160  2019-05-10 00:00:11      true
1       1  rel  5cd471bbd8228c0a15122ddf  ...   40  2019-05-10 00:00:18      true
2       1  rel  5cd471d357ad8c0d292cba2e  ...   40  2019-05-10 00:00:41      true
3       4  rel  5cd471d81ce48c8d454bb62d  ...   40  2019-05-10 00:00:44      true
4       1  rel  5cd471d96e4d8cf964c152e6  ...   40  2019-05-10 00:00:48      true

[5 rows x 23 columns]

In [0]:
def replace_multiple(main_string, to_be_replaces, new_sring):
  """
  This function replaces multiple substrings in a text by a replacement string
  
  Parameters
  ----------
  main_string: Text string
  
  to_be_replaces: List of substrings to be replaced in the text, for example: [" or ", " and "]
  
  new_sring: 
  
  """
  # Iterate over the strings to be replaced
  for elem in to_be_replaces :
    # Check if string is in the main string
    if elem in main_string :
      # Replace the string
      main_string = main_string.replace(elem, new_sring)
    
  return main_string

In [0]:
def preprocess_column_text(input_df, column_name):
  
  """
  This function pre-processes the given column by vectorized operations:
  
  1. Replace all the characters except alphabets and comma by white space
  2. Convert the whole string to lowercase characters
  3. Replace ' or ' and ' and ' sub strings in the text by ' , '
  4. Split the string by comma character
  5. After step 4, you get a list of words for each text, now strip all the whitespaces in each word at start and end
  
  Parameters
  ----------
  df: Dataframe object whose column is to be pre-processed
  column_name: Name of the column which is to be pre-processed in the df
  
  Returns:
  df: Updated df with pre-processed column
  
  """
  df = input_df.copy()
  df[column_name] = df[column_name].apply(lambda x: re.sub('[^,a-zA-Z]', " ", x) if isinstance(x, str) else "Not String")
  df[column_name] = df[column_name].apply(lambda x: x.lower())
  df[column_name] = df[column_name].apply(lambda x: replace_multiple(x, [' or ', ' and '], " , "))
  df[column_name] = df[column_name].apply(lambda x: x.split(','))
  df[column_name] = df[column_name].apply(lambda x: list(set([y.strip() for y in x])))
  
  return df

In [0]:
pre_processed_df = preprocess_column_text(updated_df, 'queryany')

In [13]:
pre_processed_df['queryany'].head(10)

0                                         [not string]
1                                         [not string]
2                                         [not string]
3    [technical delivery manager, software developm...
4                              [hr business partner, ]
5                                      [, it software]
6    [, abaqus, structural analysis, ansys workbenc...
7                                         [not string]
8    [, abaqus, structural analysis, ansys workbenc...
9                [active directory, group policy, dns]
Name: queryany, dtype: object

In [0]:
def create_bag_of_words(input_df, column_name):
  
  """
  
  This function creates a set out of list of lists
  Parameters
  ----------
  input_df: Input Dataframe
  column_name: Name of the column which as lists as it's elements
  
  Returns
  -------
  
  combined_set: A union set of all the key words in the given column
  
  """
  
  text_list_of_list = list(pre_processed_df[column_name])
  combined_list = list(set().union(*text_list_of_list))
  if '' in combined_list:
    combined_list.remove('')
  
  return combined_list

In [0]:
bag_of_words = create_bag_of_words(pre_processed_df,'queryany')

In [16]:
print("No of unique skills in all the json data :", len(bag_of_words))

No of unique skills in all the json data : 21532

In [0]:
def create_sparse_matrix_row(search_list, bag_of_words):
  
  """
  This function will give a list with 0 and 1 elements represeting if the word is present in the bag_of_words list
  
  Parametrs
  ---------
  search_list: list of elements to search in bag of words
  
  bag_of_words: list of all combined queries 
  
  Returns
  -------
  sparse_list: list containing 0s and 1s representing keyword present or not
  
  """
  sparse_list = [0]*len(bag_of_words)
  index_list = [bag_of_words.index(x) for x in search_list if x in bag_of_words]
  for index in index_list:
    sparse_list[index] = 1
  return sparse_list

In [19]:
# Add a column containing rows of sparse matrix
pre_processed_df['queryany'][6]

['',
 'abaqus',
 'structural analysis',
 'ansys workbench',
 'durability analysis',
 'chassis durability']

In [0]:
#pre_processed_df['sparse_matrix_rows'] = pre_processed_df['queryany'].apply(lambda x : create_sparse_matrix_row(x, bag_of_words))

In [0]:
# Create a sparse matrix for all the skills across all rows
def create_sparse_matrix(pre_processed_df, col):
  
  """
  Creates a sparse matrix using the queryany column
  
  Parameters
  ----------
  pre_processed_df: Pre-processed data frame
  
  col: column name
  
  Returns
  -------
  sparse_df: Sparse matrix of word count
  
  """
  row_list =[]
  i=0
  for word_list in list(pre_processed_df[col]):
    sparse_row = create_sparse_matrix_row(word_list, bag_of_words)
    row_list.append(sparse_row)
  
    i = i+1
    if i==10000: # Only considering the first 10,000 entries in the json file due to memory constraints, top ten skills will be judged based on only these entries
      break
  sparse_df = pd.DataFrame(row_list, columns = bag_of_words)
  return sparse_df

In [0]:
sparse_df = create_sparse_matrix(pre_processed_df, 'queryany')

In [0]:

def create_skills_dict(sparse_df):
  """
  Create a dictionary of all the skills and their frequency (sum of 0s and 1s for that particular skill across all rows)
  Parameters
  ----------
  sparse_df: sparse matrix of frequency of words
  
  Returns
  -------
  
  """
  
  skills_dictionary_with_frequencies = {}
  for col in sparse_df:
    if not col=="not string":
      skills_dictionary_with_frequencies[col] = sparse_df[col].sum()
  return skills_dictionary_with_frequencies

In [0]:
skills_dictionary_with_frequencies = create_skills_dict(sparse_df)

In [0]:
def get_top_n_skills_dict(skills_dictionary_with_frequencies, n_skills):
  
  """
  Returns the top n dict key-pair based on the frequency value
  
  Parameters
  ----------
  skills_dictionary_with_frequencies: dict with skill and frequency key-value pair
  
  Returns
  -------
  top_10_skills: No of top skills 
  
  """
  counter = Counter(skills_dictionary_with_frequencies)  
  top_n_skills = counter.most_common(n_skills)
  return top_n_skills

In [140]:
top_10_skills = get_top_n_skills_dict(skills_dictionary_with_frequencies, 10)
print("Top 10 skills are as following: \n")
for i in top_10_skills: 
    print(i[0]," :",i[1]," ")

Top 10 skills are as following:

java  : 483
j ee  : 216
c  : 188
net  : 185
customer service  : 177
technical support  : 160
testing  : 159
sales  : 150
customer support  : 143
marketing  : 134