<a href="https://colab.research.google.com/github/TheBiotechGuy/monster_data_science_assignment/blob/master/Assignment_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing required libraries
import json
import pandas as pd
from bson.json_util import dumps
from bson import json_util, ObjectId

In [0]:
def read_json(file_path):
  """
  This function reads the json file using json and bson packages
  
  Parameters
  ----------
  file_path: Path of input json file
  
  Returns
  -------
  data: Iterable object over all the json data
  
  """
  with open(file_path, encoding='utf-8', errors='ignore') as data_file:
    data = json.loads(json_util.dumps(data_file))
  return data

In [0]:
data = read_json('searchjson.json')

In [0]:

def get_all_key_combinations_all_rows(data):
  
  """
  After reading the json file using read_json function, you might want to look at what all keys each entry has.
  
  Are these keys same or different in all the rows ?
  
  This function will return all unique key combinations across all entries in json file
  
  Parameters
  ----------
  
  data: Iterable object after reading the json file
  
  Returns
  -------
  List of all the the unique key combinations across all entries in json file
  
  """
  updated_data = []
  first_entry_data_keys = set(eval(data[0]).keys())
  difference_keys = []
  Kinds_of_rows = []
  for entry in data:
    try:
      entry = eval(entry)
      entry_keys = set(entry.keys())
      updated_data.append(entry)
      if len(entry_keys.difference(first_entry_data_keys)):
        Kinds_of_rows.append(entry)
        difference_keys.append(entry_keys.difference(first_entry_data_keys))
    except:
      continue
  return Kinds_of_rows, difference_keys, updated_data

In [0]:
def possbible_columns_in_df(data):
  """
  This function returns all possible columns to add in the dataframe. These column values are retrived by combining all the keys present in the json file.
  """
  Kinds_of_rows, difference_keys, updated_data = get_all_key_combinations_all_rows(data)
  extra_keys_in_some_entries = set().union(*difference_keys)
  common_columns_amongst_all_rows = eval(data[0]).keys()
  all_possible_columns = list(set(common_columns_amongst_all_rows).union(extra_keys_in_some_entries))
  return all_possible_columns


all_possible_columns = possbible_columns_in_df(data)

In [0]:
data_df = pd.DataFrame(columns = all_possible_columns)

In [0]:
def append_rows_to_df(data_df, data):
  
  """
  This function will append all the json entries as rows in the dataframe
  
  Parameters
  ----------
  data_df: Df to append the rows
  
  data: A list of dictionaries which are to be appended as rows
  
  Returns:
  data_df: Updated datafarme with rows appended
  
  """
  data_df = data_df.append(data, ignore_index=True)
  return data_df

In [0]:
updated_df = append_rows_to_df(data_df, updated_data)

In [89]:
updated_df.head()

  sort  ... excludesynonym
0  upt  ...        default
1  rel  ...        default
2  rel  ...        default
3  rel  ...        default
4  rel  ...        default

[5 rows x 23 columns]